/* .acc-banner-img{
    height: 750px;
    object-fit: contain;
} */
.acc-banner-div {
    /* height: 750px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.acc-package-title{
    margin-bottom: 90px!important;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
.acc-row-moment{
    position: relative;
}
.acc-toast{
    position: absolute;
    top: 50px;
    left: 70%;
    border-left: 10px solid #3F87F5;
}
.acc-clients{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

.card{
    border: none !important;
}
.card-body{
   height: 450px;
   padding: 20px;
}
.acc-card-3{
    position: relative;
    top: -50px;
    height: 450px;
    background-color: #3F87F5;
    border-radius: 5%;
    color: white;
}
.acc-hot{
    position: absolute;
    top: -10px;
    left: 70%;
    background-color: red;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 20px;
}
.acc-accordion{
    margin-bottom: 20px;
}
footer{
    background-color: black;
    color: white;
    /* height: 300px; */
}
.acc-footer-container{
    padding-top: 150px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:992px) {
    .acc-toast {
        text-align: center;
        top: 50px !important;
        left: 0% !important;
    }
}