.acc-banner-div {
    /* height: 750px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.acc-toast {
    top: -200px !important;
    left: 80% !important;
    border-left: 10px solid #3F87F5;
}
.acc-package-title{
    margin-bottom: 90px!important;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
.acc-clients{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

.card{
    border: none !important;
}
.card-body{
   height: 450px;
   padding: 20px;
}
.acc-card-3{
    position: relative;
    top: -50px;
    height: 450px;
    background-color: #3F87F5;
    border-radius: 5%;
    color: white;
}
.acc-hot{
    position: relative;
    top: -350px;
    left: 70%;
    background-color: red;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 20px;
}
@media screen and (max-width:992px) {
    .acc-toast {
        text-align: center;
        top: 30px !important;
        left: 0% !important;
    }
}